language: java
jdk: oraclejdk8

sudo: false

env:
  - MAVEN_VERSION=3.3.9

dist: trusty


install:
  - "mvn -N io.takari:maven:wrapper -Dmaven=${MAVEN_VERSION}"
  - "./mvnw --show-version --errors --batch-mode test-compile dependency:go-offline"

addons:
  chrome: stable

script:
  - "./mvnw --show-version --errors --batch-mode -Prun-its clean verify -Dchromeoptions.args=headless"

cache:
    directories:
    - $HOME/.m2

notifications:
  slack: buzzricksons:5Ohg3Wubu3gbfa8l0zBumtrX