<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selenide Ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            $("#button1").click(function() {
                var time = $("input[name=time]").val();
                    $.ajax({
                        type: "GET",
                        url:  "http://localhost:11080/get_time/?time="+time,
                        success: function(result){
                            $(".result1").append('<span id="result-time">'+result+' seconds later</span>');
                            clear();
                        }
                    });
            });
        });
        function clear() {
            $("input[name=time]").val('');
            $("input[name=time]").text('');
        }
    </script>
</head>
<body>
    <div class="container">

        <div class="starter-template">
            <h1>Selenide Ajax example</h1>
                <input name="time" type="text" value=""/>
                <button id="button1">click</button>
            <h2>
                <div class="result1"></div>
            </h2>
        </div>

    </div>
    <!-- /.container -->
</body>
</html>